#calculator  {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #8282ee;
    background-color: #d5d5f1;
}
#display  {
    width: 180px;
    height: 30px;
    margin: 20px auto 0;
    text-align: right;
    border: 1px solid #b0b0f1;
    font-size: 23px;
}
input  {
    border: none;
}
.keys, .result, #keyC  {
    width: 35px;
    height: 30px;
    background-color: #eaeaf0;
    margin: 0 4px 15px 5px;
    font-size: 18px;
}

.keys:hover, .result:hover  {
    background-color: #8f8fd6;
}
.result  {
    width: 134px;
}